<div class="container-fluid px-container">
  <div class="px-tab">
    <ul>
      <li id="popular-li">Popular</li>
      <li>Editors</li>
      <li>Upcoming</li>
      <li>Fresh</li>
      <li>Marketplace</li>
      <li>Galleries</li>
    </ul>
  </div>
</div>

<div class="container photo-grid">
  <% @photos.in_groups_of(3, false) do |group| %>
    <div class="row">
      <% group.each do |photo| %>
      <%= link_to("/photos/#{photo[1]}") do %>
        <div class="col-sm-4 img-container">
          <%= image_tag photo[0] %>
          <% if photo[2] %>
            <button class="btn btn-disabled like-overlay">Liked</button>
          <% else %>
            <%= link_to "Like", "/like/#{photo[1]}", method: :post, class: "btn btn-danger like-overlay" %>
          <% end %>
          <div class="photo-info">

          </div>
          <div class="photo-header">
            
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  <% end %>
</div>
