<div class="container-fluid px-container">
  <div class="px-tab">
    <ul>
      <li id="popular-li">Popular</li>
      <li>Editors</li>
      <li>Upcoming</li>
      <li>Fresh</li>
      <li>Marketplace</li>
      <li>Galleries</li>
    </ul>
  </div>
</div>

<div class="container photo-grid">
  <% @photos_url.in_groups_of(3, false) do |group| %>
    <div class="row">
      <% group.each do |photo_url| %>
        <div class="col-sm-4 img-container">
          <%= image_tag photo_url %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
