/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "photos";

$border-color: #222;
$content-color: #f7f8fa;

.content-container{
  background-color: $content-color;
}

.navbar {
  height: 50px;
  border-radius: 0;
  background-color: $border-color;
  border-color: $border-color;
  margin: 0;
}

.navbar-brand{
  padding: 0 10px;
}

.logo {
  background: url(https://assetcdn2.500px.org/assets/brand/wordmark@2x-9f4fb43826e29db609c3a70dc7030988.png) center center no-repeat;
  background-size: 80px 20px;
  float: left;
  width: 80px;
  height: 50px;
}

.numbers {
  background-image: url(/images/menu-sprite.png);
  width: 50px;
  height: 50px;
  float: right;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px 80px;
}
